<%- include('partials/prestart.ejs') %>
    <div class="box">
            <h1 class="pp protest-riot-regular">Purchase premium<i class="fa-solid fa-bolt"></i></h1>
            <h1 class="pp protest-riot-regular">Plans<i class="fa-solid fa-bolt"></i></h1>
        <div class="set">
            <div class="set1">
                <div class="subset">
                    <i class="fa-solid fa-crown"></i>
                </div>
                <span class="protest-riot-regular">Lite</span>
                <div class="subsets">
                    <ul>
                        <li><i class="fa-solid fa-check"></i>Multi Step Zops</li>
                        <li><i class="fa-solid fa-check"></i>3 Premium Apps</li>
                        <li><i class="fa-solid fa-check"></i>2 Users Team</li>
                                </ul>
                        <button class="pre">Get Started</button>
                        <h1><i class="fa-solid fa-dollar-sign"></i>20/Month</h1>           
                </div>
            </div>
            <div class="set2">
                <div class="subset">
                    <i class="fa-solid fa-crown"></i>
                    <i class="fa-solid fa-crown"></i>
                    <i class="fa-solid fa-crown"></i>
                </div>
                <span class="protest-riot-regular">Pro</span>
                <div class="subsets">
        <ul>
<li><i class="fa-solid fa-check"></i>Multi Step Zops</li>
<li><i class="fa-solid fa-check"></i>3 Premium Apps</li>
<li><i class="fa-solid fa-check"></i>2 Users Team</li>
        </ul>
<button class="pre">Get Started</button>
<h1><i class="fa-solid fa-dollar-sign"></i>20/Month</h1>
                </div>
            </div>
            <div class="set3">
                <div class="subset">
                    <i class="fa-solid fa-crown"></i>
                    <i class="fa-solid fa-crown"></i>
              
                </div>
                <span class="protest-riot-regular">Premium</span>
                <div class="subsets">
                    <ul>
                        <li><i class="fa-solid fa-check"></i>Multi Step Zops</li>
                        <li><i class="fa-solid fa-check"></i>3 Premium Apps</li>
                        <li><i class="fa-solid fa-check"></i>2 Users Team</li>
                                </ul>
                        <button class="pre">Get Started</button>
                        <h1><i class="fa-solid fa-dollar-sign"></i>20/Month</h1>






                </div>
            </div>
        </div>


            <div class="circle3"></div>
         


    </div>

    <%- include('partials/preend.ejs') %>